---
- name: Install dependencies
  apt:
    name:
      - ca-certificates
      - curl
      - gnupg
      - lsb-release
    state: latest
    update_cache: yes

- name: Create keyrings dir
  file:
    path: /etc/apt/keyrings
    state: directory
    mode: '0755'

- name: Download Docker GPG key via curl
  command: curl -fsSL https://download.docker.com/linux/ubuntu/gpg -o /etc/apt/keyrings/docker.asc
  args:
    creates: /etc/apt/keyrings/docker.asc


- name: Add Docker APT repository
  apt_repository:
    repo: "deb [arch=amd64 signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable"
    state: present
    filename: docker

- name: Install Docker
  apt:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
    state: latest
    update_cache: yes

- name: Ensure Docker is running and enabled
  systemd:
    name: docker
    enabled: yes
    state: started

- name: Install Docker Python SDK for Ansible
  apt:
    name:
      - python3-docker
    state: present
    update_cache: yes

- name: Add gitlab-runner to docker group
  user:
    name: alrex
    groups: docker
    append: yes

- name: Install Docker Compose v2 plugin
  apt:
    name: docker-compose-plugin
    state: present